/* Css for commits page (lots of the styling happens in styles.tsx, because we used material ui.
material ui components cannot directly be styled in css.) */

.header {
    text-align: center;
}

.commitContainer {
    margin: auto;
    display: flex;
    gap: 15px;
    justify-content: space-evenly;
    flex-direction: row;
    width: 75vw;
}

@media only screen and (max-width: 850px) {
    .commitContainer {
        flex-direction: column;
    }
}