.header {
    text-align: center;
}

.commitContainer {
    margin: auto;
    display: flex;
    gap: 15px;
    justify-content: space-evenly;
    flex-direction: row;
    width: 75vw;

}

@media only screen and (max-width: 850px) {
    .commitContainer {
        flex-direction: column;

    }
  }