/* Css for Home page (lots of the styling happens in styles.tsx, because we used material ui.
material ui components cannot directly be styled in css.) */

.homeContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 700px;
    justify-content: center;
    align-items: center;
}

.homepage-logo {
    width: 200px;
}
