/* Css for navbar (lots of the styling happens in styles.tsx, because we used material ui.
material ui components cannot directly be styled in css.) */

.bg-background-color {
    background-color: #58D68D;
}

.navbar-logo {
    width: 150px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .navbar-logo {
        visibility: hidden;
    }
}

.abs-center-nav-link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
}