# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
project2/src/tests/__snapshots__/App.test.tsx.snap
project2/src/tests/__snapshots__/CommitComponent.test.tsx.snap
project2/src/tests/__snapshots__/CommitFilterComponent.test.tsx.snap
project2/src/tests/__snapshots__/CommitList.test.tsx.snap
project2/src/tests/__snapshots__/CommitPage.test.tsx.snap
project2/src/tests/__snapshots__/Graph.test.tsx.snap
project2/src/tests/__snapshots__/Home.test.tsx.snap
project2/src/tests/__snapshots__/IssueComponent.test.tsx.snap
project2/src/tests/__snapshots__/IssueFilterComponent.test.tsx.snap
project2/src/tests/__snapshots__/IssuePage.test.tsx.snap
project2/src/tests/__snapshots__/Navigationbar.test.tsx.snap

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
